html{
    box-sizing: border-box;
}
*, ::after, ::before{
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://i.postimg.cc/Zn2LQZKG/jan-antonin-kolar-i-5-KLZ6-Zgz-I-unsplash.jpg");
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
