html{
    box-sizing: border-box;
}
*, ::after, ::before{
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("/images/background.jpg");
    background-position: center;
    background-size:cover;
}